.editarMetodosContainer{
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.limite{
    text-align: center;
    color: #fff;
}

.editarMetodoForm{
    width: 100%;
    margin: auto;
    max-width: max-content;
    display: flex;
    flex-direction: column;
}

.editarMetodoForm label{
    color: #cccc;
}

.editarMetodoForm input{
    outline: 0;
    border: 1px solid #000;
    font-size: 1em;
    margin: 0.10rem 0;
    padding: 0.25rem;
}

.editarMetodoForm button{
    font-size: 1.5em;
    cursor: pointer;
}