.botoesBanner{
    width: 100%;
    max-width: max-content;
}

.botoesBanner button{
    width: 130px;
    height: 130px;
    padding: 1.5rem;
    transition: 0.3s;
    cursor: pointer;
    margin: 0.5rem 0.5rem 0 0;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 1em;
}

.botoesBanner button h3{
    font-weight: lighter;
    font-size: 1em;
}

.botoesBanner button svg{
    width: 50px;
    height: 50px;
}

.botoesBanner button:hover{
    transform: scale(1.1);
    color: #000;
    border: 1px solid #0ff;
}

.logoBanner svg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 0.5rem;
    color: #7df20f;
    transition: 0.2s;
    border: 1px solid #ccc;
    animation: flutuar 4s infinite;
    background:linear-gradient(to top, var(--violeta), var(--violetaEscuro));
}
