header{
    width: 100%;
    position: fixed;
    background:linear-gradient(to left, var(--preto), var(--violetaEscuro));
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #cccc;
    z-index: 9;
}

.logoHeader{
    display: flex;
    align-items: center;
}

.logoHeader h2:nth-of-type(1){
    color: #fff;
}

.logoHeader h2:nth-of-type(2){
    color: #00ffff;
}

.logoHeader svg{
    width: 45px;
    height: 45px;
    margin: 0 0.5rem;
    filter: drop-shadow(1px 1px 5px #f2e01b);
}

.menuHeader{
    display: flex;
    list-style-type: none;
}

.menuHeader li{
    padding: 0 1rem;
}

.menuHeader li button{
    text-transform: capitalize;
    font-size: 1.15em;
    color: #fff;
    background-color: transparent;
    border: 0;
    transition: 0.3s;
    cursor: pointer;
}

.menuHeader li button:hover{
    color: #00ffff;
    filter: drop-shadow(1px 1px 5px rgba(204,204,204,0.5));
}