section{
    width: 100%;
    padding: 1rem;
}

.tituloSection{
    padding: 0 0 1rem 0;
}

.tituloSection h1{
    color: #fff;
    font-size: 3.5em;
}

.tituloSection h2{
    color: #cccc;
    font-size: 1.05em;
    font-weight: lighter;
}

.gastosContainer{
    background: linear-gradient(35deg, var(--violeta), #ff0000);
}

.depositosContainer{
    background: linear-gradient(35deg, var(--violeta), #00ffff);
}

.gastosContainer h3{
    margin-right: 1rem;
}

.gastosContainer span{
    display: flex;
    align-items: center;
}

.gastosContainer span select{
    text-transform: capitalize;
    max-width: max-content;
    outline: 0;
    padding: 0.25rem;
    font-size: 1.25em;
    border: 1px solid #000;
    border-radius: 5px;
}

.gastosContainer,
.depositosContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
    padding: 2rem 1rem;
    border-radius: 10px;
}

.gastosContainer h3,
.depositosContainer h3{
    font-size: 3em;
    color: #fff;
    font-weight: lighter;
}



.depositosSomados{
    list-style-type: none;
}

.depositosSomados li{
    color: #ccc;
}